In [ ]:
"""
Functions:---->

1.Types of Functions
2.Creating Function

a)Without parameter
b)With Parameter
c)with return keyword

3.Docstrings

4.Function Arguments

a)Positional arguments
b)keyword arguments
c)Default arguments
d)Variable-length arguments


"""

# 1.Types of Functions

1.Build in : Len()/max()/count()

2.User Define : def

# 2.Creating Function

In [7]:
def add():
    a = 25
    b = 10
    print("add of a + b is : " , a+b)

In [8]:
add()

add of a + b is :  35

In [9]:
def add(a,b):
    print("add of a + b is : " , a+b)

In [10]:
add(25,10)

add of a + b is :  35

a)Without parameter

b)With Parameter

c)with return keyword

In [11]:
#diff btw Parameter & Argu

#Without parameter / Zero parameter Function

def intro():
    #This is Zero parameter Function
    print("Hello Vishal Welcome to EduTECH")

In [12]:
intro()

Hello Vishal Welcome to EduTECH

In [13]:
#With Parameter

def intro2(name):
    #name = parameter
    #This is one Parameter Function
    print(f"Hello {name} welcome to EduTECH")

In [14]:
intro2("Ajay") #Ajay = Argument

Hello Ajay welcome to EduTECH

In [15]:
def intro3(name , c_name):
    print(f"hello {name} are you looking for {c_name} ?")

In [16]:
intro3("Ajinkya","Data Analysis") #Two parameter Function

hello Ajinkya are you looking for Data Analysis ?

with return keyword

In [17]:
def intro4(name):
    view = print(f"Student Name : {name}")
    return view

In [18]:
intro4("Ajay")

Student Name : Ajay

In [19]:
def add(a,b):
    return a+b

In [20]:
print("I'm adding Two value : " , add(10,25))

I'm adding Two value :  35

In [5]:
num = int(input("enter a number : ")) 


power = len(str(num))
sum = 0 
temp= num 

while temp > 0:
    digit = temp % 10  
    sum  += digit  ** power    
    temp = temp // 10 
    
if num == sum:
    print(num,"is an Armstrong number")
else :
    print(num,"Is not Armstrong number")

enter a number : 153
153 is an Armstrong number

# 4.Function Arguments

a)Positional arguments

b)keyword arguments

c)Default arguments

d)Variable-length arguments

In [21]:
#Positional arguments

def display(name,s_name):
    print("Name is : " , name)
    print("Surname is : " , s_name)

In [22]:
display("Vishal","Dhayagude")

Name is :  Vishal
Surname is :  Dhayagude

In [28]:
display("Dhayagude","Vishal")
display("Dhayagude")

Name is :  Dhayagude
Surname is :  Vishal

TypeError: display() missing 1 required positional argument: 's_name'

In [24]:
#keyword arguments

display(s_name="Dhayagude",name="Vishal")

Name is :  Vishal
Surname is :  Dhayagude

In [25]:
#Default arguments

def show(name,city="pune"):
    print(f"Student name is {name} & he/she is from {city}")

In [27]:
show("Shital")
show("Ajinkya","Nagar")

Student name is Shital & he/she is from pune
Student name is Ajinkya & he/she is from Nagar