# List

1. List Vs Array
2. Create
3. Access
------------------------------
4. Edit
5. Add :--> Add (append , extend , insert)
6. Delete :-->  Delete (clear , pop , remove)
------------------------------
7. operations
------------------------------
8. Functions:--> len,min,max,sorted

In [ ]:
#1. List Vs Array

"""
s1 = "Vishal"
s2 ="Ajay"
s3 = "Shital"

Array

s_name = ["Vishal","Ajay","Shital"]
              0       1       2
            
List Vs Array

1.Array are Homogeouns Data Type 
2.List are Hetrogeouns Data Type
3.Array take less memory comapre to List
4.List are more programable then Array




"""

In [4]:
#Create

l1 = []

print("Empty List : " , l1)

#Homogeouns List

l2 = [25,23,28,19,22,20,19,25]

print("Homogeouns List : " , l2)

#Hetrogeouns List

l3 = ["Vishal" , 101 , 84.56 , "Pune"]

print("Hetrogeouns List : " , l3)

#Mult-D list 

l4 = [1,2,3,[4,5]]
print("Multi-D List : " , l4)

Empty List :  []
Homogeouns List :  [25, 23, 28, 19, 22, 20, 19, 25]
Hetrogeouns List :  ['Vishal', 101, 84.56, 'Pune']
Multi-D List :  [1, 2, 3, [4, 5]]

In [8]:
#Access

l2 = [25,23,28,19,22,20,19,25]

print("Vishal Marks in math : " , l2[1])

l3 = ["Vishal" , 101 , 84.56 , "Pune"]

print("Studnet name is : " , l3[0] , " Marks are :" , l3[-2])

l4 = [1, 2, 3, [4 , 5]]
#     0  1  2     3
#               0   1


print(l4[3][-2])

Vishal Marks in math :  23
Studnet name is :  Vishal  Marks are : 84.56
4

Edit

Add :--> Add (append , extend , insert)
    
Delete :--> Delete (clear , pop , remove)

In [10]:
l3 = ["Vishal" , 101 , 84.56 , "Pune"]

l3[0] = "Ajay"

print(l3)

l3[0:3] = ["Shital",105,74.58]

print(l3)

['Ajay', 101, 84.56, 'Pune']
['Shital', 105, 74.58, 'Pune']

In [14]:
#add

l5 = ["Ajay","Vishal"]

l5.append("Gaurav")

print(l5)

l5.extend(["Shital","Pooja","Shushant"])
print(l5)

l5.insert(0,"Nishant")

print(l5)

['Ajay', 'Vishal', 'Gaurav']
['Ajay', 'Vishal', 'Gaurav', 'Shital', 'Pooja', 'Shushant']
['Nishant', 'Ajay', 'Vishal', 'Gaurav', 'Shital', 'Pooja', 'Shushant']

In [20]:
#Delete :--> Delete (clear , pop , remove)
#l5.pop()

#l5.remove('Vishal')

l5.clear()

l5

[]

# 7. operations

In [7]:
#Arithmatic : + & *

L1 = [1,2,3]
L2 = [1,2,3]

print(L1+L2)
print(L1 * 3)

#Relational : <,>,<=,>=,==,!=

print(L1>L2)
print(L1==L2)

#Membership : in & not in

print(1 in L1)

[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
False
True
True

# 8. Functions:--> len,min,max,sorted

In [13]:
L1 = [25,11,23,14,17,82,19,26,32,10,12]

print("Len of L1 is : " , len(L1))
print("Max of L1 is : " , max(L1))
print("Min of L1 is : " , min(L1))
print("Assending order : " , sorted(L1))
print("Dessending order : " , sorted(L1 , reverse = True))

Len of L1 is :  11
Max of L1 is :  82
Min of L1 is :  10
Assending order :  [10, 11, 12, 14, 17, 19, 23, 25, 26, 32, 82]
Dessending order :  [82, 32, 26, 25, 23, 19, 17, 14, 12, 11, 10]

In [16]:
L2 = sorted(L1)

L2

[10, 11, 12, 14, 17, 19, 23, 25, 26, 32, 82]