# Tuples

 Create
 
 Access
 
 Edit
 
 Add
 
 Delete
 
 Operations
 
 Functions

In [3]:
#Create

L1 = [1,2,3]
T1 = (1,2,3)

print('Data Type of L1 ' , type(L1))
print('Data Type of T1 ' , type(T1))

Data Type of L1  <class 'list'>
Data Type of T1  <class 'tuple'>

In [7]:
T1 = ()
print("Empty Tuple : " , T1)

T2 = (25,22,18,19,23,25)
print("Homogeouns Tuple : " , T2)

T3 = ("Vishal",101,87.5,"Pune")
print("Hetrogeouns Tuple : " , T3)

T4 = (1,2,3,(4,5))

print("2-D Tuple : " , T4)

Empty Tuple :  ()
Homogeouns Tuple :  (25, 22, 18, 19, 23, 25)
Hetrogeouns Tuple :  ('Vishal', 101, 87.5, 'Pune')
2-D Tuple :  (1, 2, 3, (4, 5))

# Access

In [9]:
T3 = ("Vishal",101,87.5,"Pune")

print("ID of Vishal : " , T3[1])

T4 = (1,2,3,(4,5))

print(T4[3][0])

ID of Vishal :  101
4

In [10]:
#Edit/Add/Delete

#List
L1 = [1,2,3,4]

L1[0] = 5

print(L1)

[5, 2, 3, 4]

In [12]:
#Tuple :--> Immutable Data Type : Edit/add/delete

L1 = (1,2,3,4)

L1[0] = 5

print(L1)

TypeError: 'tuple' object does not support item assignment

# operation

In [13]:
#Arithmatic : + & *

L1 = (1,2,3)
L2 = (1,2,3)

print(L1+L2)
print(L1 * 3)

#Relational : <,>,<=,>=,==,!=

print(L1>L2)
print(L1==L2)

#Membership : in & not in

print(1 in L1)

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
False
True
True

# 8. Functions:--> len,min,max,sorted

In [14]:
L1 = (25,11,23,14,17,82,19,26,32,10,12)

print("Len of L1 is : " , len(L1))
print("Max of L1 is : " , max(L1))
print("Min of L1 is : " , min(L1))
print("Assending order : " , sorted(L1))
print("Dessending order : " , sorted(L1 , reverse = True))

Len of L1 is :  11
Max of L1 is :  82
Min of L1 is :  10
Assending order :  [10, 11, 12, 14, 17, 19, 23, 25, 26, 32, 82]
Dessending order :  [82, 32, 26, 25, 23, 19, 17, 14, 12, 11, 10]

# Sets

Create

Access

Edit

Add

Delete

Operations

Functions

--------------------------------

1.sets do not allow duplicates

2.sets have no indexing/slicing

3.sets do not allow mutable data type

4.sets itself is mutable data type

In [21]:
#Create

#1.sets do not allow duplicates

s1 = {10,12,15}

print("Data Type of s1 : " , type(s1))

s2 = {1,1,2,2,2,3,3,3,3,4,5,6,7,8,8,9,7,7}

print("sets do not allow duplicates : " , s2)

s3 = {5,1,7,2,10,11,3,6}
L3 = [5,1,7,2,10,11,3,6]

print(s3)
print(L3)

s4 = {"Vishal",101,87.5}

print(s4)

Data Type of s1 :  <class 'set'>
sets do not allow duplicates :  {1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 5, 6, 7, 10, 11}
[5, 1, 7, 2, 10, 11, 3, 6]
{'Vishal', 101, 87.5}

In [20]:
#2.sets have no indexing/slicing

s4 = {"Vishal",101,87.5}

print("Name of student : " , s4[0]) #TypeError: 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [23]:
#3.sets do not allow mutable data type

s5 = {"Vishal",(1,2,3)}#Str/Tuple :--> both are immutable

print(s5)


s6 = {"Vishal",[1,2,3]} #str/List

print(s6)

{'Vishal', (1, 2, 3)}

TypeError: unhashable type: 'list'

In [24]:
#4.sets itself is mutable data type


#add
name = {"Vishal","Ajay","Nitin"}

name.add("Shital")

print(name)

{'Ajay', 'Vishal', 'Shital', 'Nitin'}

In [26]:
#delete

s5 = {1,2,3,4,5,6,7,8,9,10}

s5.pop()

s5

s5.remove(3)

s5

{2, 4, 5, 6, 7, 8, 9, 10}

In [31]:
#Operations

#Arithmatic : + & *

s1 = {1,2,3}
s2 = {1,2,3}

print(s1+s2)
print(s1*3)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [30]:
print(s1>s2)
print(s1==s2)
print(1 in s1)

False
True
True

# Function

In [34]:
#len/max/min/sum

s1 = {1,2,5,5,6,6,7,8,9,9,10}

print("Len of S1 : " , len(s1))
print("Max of S1 : " , max(s1))
print("Min of S1 : " , min(s1))
print("Sum of S1 : " , sum(s1))

Len of S1 :  8
Max of S1 :  10
Min of S1 :  1
Sum of S1 :  48

In [39]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.union(s2)
s1.difference(s2)
s2.difference(s1)
s1.intersection(s2)
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

# Dictionary

Create

Access

Edit

Add

Delete

Operations

Functions

-------------------------------------

1.Dic has no indexing

2.It is Mutable Data type

3.Key-->Immutable & values---> Mutable

4.key should be unique

In [2]:
#Create

D1 = {"name":"Vishal","City":"Pune","Salary":60000}

print(D1)

D2 = {"M1":61,"M2":68,"M3":72}

print(D2)

{'name': 'Vishal', 'City': 'Pune', 'Salary': 60000}
{'M1': 61, 'M2': 68, 'M3': 72}

In [6]:
#Access

#1.Dic has no indexing

#D2[0]

print("M1 mark : " , D2['M1'])

D2 = {"M1":61,"M2":68,"M3":72,"Chem":72}

D2

M1 mark :  61

{'M1': 61, 'M2': 68, 'M3': 72, 'Chem': 72}

In [9]:
D2 = {"M1":61,"M2":68,"M3":72 ,"M1":62}
print(D2)

{'M1': 62, 'M2': 68, 'M3': 72}

In [12]:
#It is Mutable Data type

D2['M1'] = 72 #Edit

D2['Chem'] = 68 # Add

D2

{'M1': 72, 'M2': 68, 'M3': 72, 'Chem': 68}

In [13]:
#Delete

del(D2['M1'])

D2

{'M2': 68, 'M3': 72, 'Chem': 68}

In [14]:
#Operations

D1 = {"M1":61,"M2":65}
D2 = {"Name":"Vishal","Age":27}

print(D1+D2)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [15]:
D1>D2

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [18]:
#Membership

D1

print(61 in D1) #Values cannot be check using Membesrship Operator

print("M1" in D1)

False
True

In [20]:
D3 = {61:62,65:82}

print(D3)

{61: 62, 65: 82}

In [24]:
#Functions

print("Keys in D1 : " , D1.keys())
print("Values in D1 : " , D1.values())

Keys in D1 :  dict_keys(['M1', 'M2'])
Values in D1 :  dict_values([61, 65])