a)Positional arguments

b)keyword arguments

c)Default arguments

d)Variable-length arguments

In [1]:
#Variable-length arguments

def Sum(*num):
    
    """
    This Function will return you sum of all Numbers
    Creadted by :  Vishal
    Date : 31/10/2023
    Edited By : Ajay
    Date : 1/11/2023
    
    
    
    """
    
    total = 0
    for i in num:
        total += i
        
    return total

In [6]:
Sum(10,11,25,23,25,28,65)
print(Sum.__doc__)

    This Function will return you sum of all Numbers
    Creadted by :  Vishal
    Date : 31/10/2023
    Edited By : Ajay
    Date : 1/11/2023

# Variable

1.Global

2.Local

3.Instance

4.Static

In [7]:
name1 = "Ajay"  #Global :---> can be access inside & outside of the Function


def info():
    name2 = "Vishal" #Local  :---> only accessible inside the function
    
    print("1st name : " , name1)
    print("2nd Name  : " , name2)

In [8]:
info()

1st name :  Ajay
2nd Name  :  Vishal

In [11]:
name1 = "Govind"
name2= "Ajinkya"

info()

1st name :  Govind
2nd Name  :  Vishal

In [12]:
num = 1

def fun1():
    
    print("Number is : " , num)
    
def fun2():
    
    print("Number is : " , num)
    
def fun3():
    
    print("Number is : " , num)

In [13]:
fun1()
fun2()
fun3()

Number is :  1
Number is :  1
Number is :  1

In [20]:
num = 1

def fun1():
    
    print("Number is : " , num)
    
def fun2():
    global num
    num = 101
    print("Number is : " , num)
    
def fun3():
    
    print("Number is : " , num)

In [21]:
fun1()
fun2()
fun3()

Number is :  1
Number is :  101
Number is :  101

# Recursive Functions

In [22]:

def Num(num):
    print(num)
    #Base
    if num == 1:
        return num
    else :
        return Num(num-1)

In [25]:
Num(5)

5
4
3
2
1

1

In [30]:
def even(num):
    print(num)
    #Base
    if num % 2 != 0:
        print("Enter Number is odd Number")
    elif num == 2:
        return num
    else:
        return even(num-2)

In [33]:
even(23)

23
Enter Number is odd Number

In [34]:
# 5!  =5x4x3x2x1 = 120

def fact(num):
    print(num)
    if num == 1:
        return num
    else :
        return num * fact(num-1)

In [37]:
fact(15)

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

1307674368000

In [1]:
def total(*num):
    
    t =0 
    for i in num :
        t += i
        
    return t

In [2]:
total(12,13,15)

40