In [1]:
user = int(input("how many star you give 1 to 5 : "))
review = input("Enter Your Review")

if user==1:
    print('User Rating : *' )
    print(review)
elif user == 2:
    print('User Rating : **')
    print(review)
elif user < 4 and user > 2:
    print(' very good rating')
elif user < 5 and user > 3:
    print('hit rating')
else :
    print("Plz provide Valid Input")

how many star you give 1 to 5 : 2
Enter Your ReviewNot had Nice experice should work on Time management
User Rating : **
Not had Nice experice should work on Time management

In [ ]:
"""
in c or java

for (int i=1 ; i<=5 ; i++){

}

"""

# Range Function

In [6]:
L1 = [1,2,3,4,5,6,7,8,9,10]

print("Using List : " , L1)

L2 = list(range(1,11))

print("Using Range Function : " ,L2)

Using List :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Using Range Function :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
l4 = list(range(15)) #range(start,end,step)

l4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [9]:
l5 = list(range(100,110))

l5

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109]

In [11]:
l6 = list(range(1,20,3))

l6

[1, 4, 7, 10, 13, 16, 19]

In [14]:
l7 = list(range(10,50,5))

l7

[10, 15, 20, 25, 30, 35, 40, 45]

In [ ]:
"""
in c or java

for (int i=1 ; i<=5 ; i++){

}

"""

In [15]:
for i in range(1,6):
    print("Hello All")

Hello All
Hello All
Hello All
Hello All
Hello All

In [16]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [19]:
#Table of 2 using for Loop

for i in range(1,11):
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [21]:
#Ask user for input & print table for user input

num = int(input("Enter Number : "))

for i in range(1,11):
    print(i*num)

Enter Number : 21
21
42
63
84
105
126
147
168
189
210

In [23]:
name = ["Ajay","Vishal","Govind","Ankita","Rajshree"]

print(name)

for i in name:
    print("Hello " , i)

['Ajay', 'Vishal', 'Govind', 'Ankita', 'Rajshree']
Hello  Ajay
Hello  Vishal
Hello  Govind
Hello  Ankita
Hello  Rajshree

In [24]:
name = ["Ajay","Vishal","Govind","Ankita","Rajshree"]

i =0

while i<=4:
    print('Hello ' , name[i])
    i+=1

Hello  Ajay
Hello  Vishal
Hello  Govind
Hello  Ankita
Hello  Rajshree

In [25]:
name = ["Ajay","Vishal","Govind","Ankita","Rajshree"]

i =0

while i<len(name):
    print('Hello ' , name[i])
    i+=1

Hello  Ajay
Hello  Vishal
Hello  Govind
Hello  Ankita
Hello  Rajshree

In [30]:
#Nested for Loop

for i in range(1,4):
    for j in range(1,4):
        print("*" , end = " ")
        
    print()

* * *
* * *
* * *

In [ ]:
"""

1 1 1
2 2 2
3 3 3
-----------

1 2 3 
1 2 3 
1 2 3
-----------

*
* * 
* * *
----------------

1
1 2
1 2 3
----------------

1
2 2 
3 3 3






"""

In [2]:
l1 = [1,2,3]

l2 = list(range(1,5))

l2

[1, 2, 3, 4]

In [4]:
l3 =list(range(1,12,2))

l3

[1, 3, 5, 7, 9, 11]

In [6]:
for i in range(1,6):
    print("EduTECH")

EduTECH
EduTECH
EduTECH

In [8]:
name = ["Vishal","Ajinkya","Ajay"]

for i in name:
    print("Welcome to EduTECH",i)

Welcome to EduTECH Vishal
Welcome to EduTECH Ajinkya
Welcome to EduTECH Ajay

In [9]:
for i in range(1,4):
    for j in range(1,4):
        print("*" , end=" ")
    print()

* * *
* * *
* * *

In [11]:
for i in range(1,4):
    for j in range(1,4):
        print(j , end=" ")
    print()

1 2 3
1 2 3
1 2 3

In [ ]:
r = 3

for i in range(1,r+1):
    for j in