In [1]:
#Write a Program to ask user for there name & course name : print this info

#Function
def info(name,c_name):
    print("Hello ", name ," Welcome to EduTECH ")
    print(name , "Your Looking for " , c_name , " ?")

In [2]:
s1 = info("Vishal","Data Analysis")

Hello  Vishal  Welcome to EduTECH
Vishal Your Looking for  Data Analysis  ?

In [3]:
s2 = info("Sidharth","SAP")

Hello  Sidharth  Welcome to EduTECH
Sidharth Your Looking for  SAP  ?

# Indentation and Comment in Python :
    
•Indentation is the most significant concept of the Python programming language.

•Improper use of indentation will end up "IndentationError" in our code.

•Indentation is nothing but adding white spaces before the statement when it is needed.

•Without indentation Python doesn't know which statement to be executed to next.

•Indentation also defines which statements belong to which block.

•If there is no indentation or improper indentation, it will display "IndentationError" and interrupt our code.

In [6]:
#IndentationError:

def info(name,c_name):
print("Hello ", name ," Welcome to EduTECH ")
    print(name , "Your Looking for " , c_name , " ?")

IndentationError: expected an indented block after function definition on line 3 (2808168529.py, line 4)

In [8]:
def emp(name,salary):
    print("Emp Name is : " , name)
    print("Salary : " ,salary)
    
#Assignment 1 : Write a program to take emp info : dept,salary,name,city :print 5 emp info

In [9]:
e1 = emp("Sidharth",65000)

Emp Name is :  Sidharth
Salary :  65000

# Comments in Python

In [10]:
def add(a,b):
    
    #single line comment
    #This Program will return you add of Two Variables
    
    """
    This Multiline comment
    
    Code Created By :  Vishal
    Date : 10/10/2023
    Edited By : Ajay
    Date : 12/10/2023
    
    
    
    
    """
    
    print("Add of Two Number is : " , a+b)

In [11]:
add(10,25)

Add of Two Number is :  35

# Python Identifiers/Variables


•A variable name must start with either an English letter or underscore (_).

•A variable name cannot start with the number.

•Special characters are not allowed in the variable name.

•The variable's name is case sensitive.

In [13]:
#A variable name must start with either an English letter or underscore (_).

name = "Vishal"
_name = "Dhayagude"

print(name)
print(_name)

Vishal
Dhayagude

In [15]:
#A variable name cannot start with the number.

num1 = 25

print(num1) #valid Variable

1num = 28 #Invalid Variable

SyntaxError: invalid decimal literal (1452404180.py, line 7)

In [16]:
#•Special characters are not allowed in the variable name.

@age = 25
%ht = 175

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1157419694.py, line 3)

In [19]:
#The variable's name is case sensitive

info = "EduTECH"
INFO = "Warje"

print(info)
print(INFO)

EduTECH
Warje

In [23]:
#In Python, we don't need to specify the type of variable 
#because Python is a infer language and smart enough to get variable type.

#type():---> this function will return you data type of Variable
age = 25

print("Data Type of Age  : " , type(age))

print("Age of Studnet : " , age)

print()
name = "Vishal"

print("Data Type of Name  : " , type(name))

Data Type of Age  :  <class 'int'>
Age of Studnet :  25

Data Type of Name  :  <class 'str'>

In [24]:
age = 28

print("Data Type of Age  : " , type(age))
print("Age of Studnet : " , age)


print()
age = "28"
print("Data Type of Age  : " , type(age))

Data Type of Age  :  <class 'int'>
Age of Studnet :  28

Data Type of Age  :  <class 'str'>