# Python Day-1

# What is Programing ??

Programming is the process of creating computer software or applications using a programming language. A programming language is a set of instructions that tell a computer what to do, and programmers use these instructions to create programs that can perform specific tasks or solve particular problems.

# Why Data Scientists/Analysis Need Programing?

Data analysis often involves working with large datasets, which can be difficult to manage and analyze manually. Programming allows analysts to automate many of these tasks, making them more efficient and effective.

Programming languages have powerful libraries and tools specifically designed for data analysis, making it easier to process, manipulate, and visualize data.

Programming helps data analysts work with more complex data structures and larger datasets, which might not be possible using traditional spreadsheet software.

By writing code, analysts can more easily repeat and modify analyses, making it easier to explore different data scenarios and test hypotheses.

Programming enables data analysts to create custom data analyses that fit their specific needs, rather than relying on off-the-shelf solutions.

The ability to write code also makes it easier to communicate with other data professionals and share analysis scripts and techniques.

# List of Language can be used By Data Scientist?

R – language and environment for statistical computing and graphics

Python – general purpose programming language

SQL – Structured Query Language

Java

Scala

Julia – programming language for high-performance numerical analysis and computational science

MATLAB – programming language and environment for iterative analysis and design processes

# Why python for Data Scientist/Analyst?

Large community and extensive library support

Ease of use

Powerful data manipulation capabilities

Integration with other languages

Versatility

In [ ]:

Add of Two Number :  48
    
print("Sub : " , 25-23)
Sub :  2
    
print("We are starting With New Data Analysis batch")
We are starting With New Data Analysis batch

print('EduTECH Warje')
print("We are starting with New Batch")
print("""Data Analysis 11 AM""")

EduTECH Warje
We are starting with New Batch
Data Analysis 11 AM

print("IDNIA","USA","CHINA")
IDNIA USA CHINA

print("INDIA","USA","CHINA",sep="/")
INDIA/USA/CHINA

print('INDIA','USA','CHINA',sep='//')
INDIA//USA//CHINA

print('INDIA','USA','CHINA',sep='\n')
INDIA
USA
CHINA

# Python Day-2

In [ ]:
#Write a Program to ask user for there name & course name : print this info

#Function
def info(name,c_name):
    print("Hello ", name ," Welcome to EduTECH ")
    print(name , "Your Looking for " , c_name , " ?")

In [ ]:
s1 = info("Vishal","Data Analysis")

# Indentation and Comment in Python :
    
•Indentation is the most significant concept of the Python programming language.

•Improper use of indentation will end up "IndentationError" in our code.

•Indentation is nothing but adding white spaces before the statement when it is needed.

•Without indentation Python doesn't know which statement to be executed to next.

•Indentation also defines which statements belong to which block.

•If there is no indentation or improper indentation, it will display "IndentationError" and interrupt our code.

In [1]:
#IndentationError:

def info(name,c_name):
print("Hello ", name ," Welcome to EduTECH ")
    print(name , "Your Looking for " , c_name , " ?")

IndentationError: expected an indented block after function definition on line 3 (2808168529.py, line 4)

In [2]:
def emp(name,salary):
    print("Emp Name is : " , name)
    print("Salary : " ,salary)
    
#Assignment 1 : Write a program to take emp info : dept,salary,name,city :print 5 emp info

In [3]:
e1 = emp("Sidharth",65000)

Emp Name is :  Sidharth
Salary :  65000

# Comments in Python

In [ ]:
def add(a,b):
    
    #single line comment
    #This Program will return you add of Two Variables
    
    """
    This Multiline comment
    
    Code Created By :  Vishal
    Date : 10/10/2023
    Edited By : Ajay
    Date : 12/10/2023
    
    
    
    
    """
    
    print("Add of Two Number is : " , a+b)

# Python Identifiers/Variables

•A variable name must start with either an English letter or underscore (_).

•A variable name cannot start with the number.

•Special characters are not allowed in the variable name.

•The variable's name is case sensitive.

In [ ]:
#A variable name must start with either an English letter or underscore (_).

name = "Vishal"
_name = "Dhayagude"

print(name)
print(_name)

#A variable name cannot start with the number.

num1 = 25

print(num1) #valid Variable

1num = 28 #Invalid Variable


#•Special characters are not allowed in the variable name.

@age = 25
%ht = 175 

#The variable's name is case sensitive

info = "EduTECH"
INFO = "Warje"

print(info)
print(INFO)

In [5]:
#In Python, we don't need to specify the type of variable 
#because Python is a infer language and smart enough to get variable type.

#type():---> this function will return you data type of Variable
age = 25

print("Data Type of Age  : " , type(age))

print("Age of Studnet : " , age)

print()
name = "Vishal"

print("Data Type of Name  : " , type(name))

Data Type of Age  :  <class 'int'>
Age of Studnet :  25

Data Type of Name  :  <class 'str'>

In [4]:
age = 28

print("Data Type of Age  : " , type(age))
print("Age of Studnet : " , age)


print()
age = "28"
print("Data Type of Age  : " , type(age))

Data Type of Age  :  <class 'int'>
Age of Studnet :  28

Data Type of Age  :  <class 'str'>

# Python Day-3

In [6]:
#Aalising

a = 150
b = a

#type() :---> return data type of Variable
#id() :---> return loc/address of that Variable


print("Value of a : " , a)
print("Loc/add of a " , id(a))
print()
print("Value of b : " , b)
print("Loc/add of a " , id(b))
print()

b = 250
print("Value of b : " , b)
print("Loc/add of a " , id(b))

Value of a :  150
Loc/add of a  140720471844296

Value of b :  150
Loc/add of a  140720471844296

Value of b :  250
Loc/add of a  140720471847496

In [7]:
#Keyword
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#Diff btw Keyword & Function

for
id()
sum()
max()

In [8]:
#Python is Dyamic Lang : We don't have to specify data type of Variable & also we can use that variable
#again & reassign values


age = 27 #int
print(type(age))
name = "Vishal" #str
print(type(name))
salary = 64.5 #float
print(type(salary))

<class 'int'>
<class 'str'>
<class 'float'>

In [9]:
age = "27" #int
print(type(age))
name = 250200 #str
print(type(name))
salary = "64.5" #float
print(type(salary))

<class 'str'>
<class 'int'>
<class 'str'>

In [10]:
#Operators

#Arithmatic :( +,-,/,*,% )  & (**,//)

a = 25
b = 29

print("Add of a & b is : " , a+b)
print("Sub of a & b is : " , a-b)
print("Div of a & b is : " , a/b)
print("Mult of a & b is : " , a*b)

print()

x = 11
y = 2

print("x div by y Riminder is : " , x%y)

Add of a & b is :  54
Sub of a & b is :  -4
Div of a & b is :  0.8620689655172413
Mult of a & b is :  725

x div by y Riminder is :  1

In [11]:
print("2 pow 3 : " , 2**3)
print("4 pow 10 : " , 4**10)

2 pow 3 :  8
4 pow 10 :  1048576

In [12]:
x1 = 25
y1 = 10

print("x1  div by y1 : " , x1/y1)#float ans
print("x1  floor div by y1 : " , x1//y1)#int ans

x1  div by y1 :  2.5
x1  floor div by y1 :  2

In [13]:
#Relational Operator: >,<,<=,>=,==,!= :---> boolean (true Or false)

x = 25
y = 10
z = 25

print("x is gretter than y : " , x>y)
print("x is gretter than z : " , x>z)
print("x is equal to z : " , x==z)
print("x is equal to z : " , x!=z)

x is gretter than y :  True
x is gretter than z :  False
x is equal to z :  True
x is equal to z :  False

In [14]:
#Logical Operator : and & or

"""

True and True = True
True and False = False
False and True = False
False and False = False
-----------------------------

True or True = True
True or False = True
False or True = True
False or False = False




"""
x = 25
y = 10
z = 25

print( x > y and z < y) # True and False = False
print( x > y or z < y ) # True or False = True

False
True

# Python Day-4

In [15]:
#Membership Operator

# in & not in : ---> True/False

msg = "Welcome to EduTECH World of EduCATION"

print("E" in msg)

print("EduTECH" in msg)

print("Data Analysis" not in msg)

True
True
True

In [16]:
#Identity Operator

#is & is not :---> True/False

a = 150
b = a

print("address of a : " , id(a))


print("address of b : " , id(b))

print()

print("A is B ?" ,a is b)

address of a :  140720471844296
address of b :  140720471844296

A is B ? True

In [17]:
#Input Function

#input():---> input function will return you string 

print("Enter Your Name : ")

name = input()

print("Hello " , name , " Welcome to EduTECH")

Enter Your Name :
vishal
Hello  vishal  Welcome to EduTECH

In [ ]:
print("Enter Your name & Course name")

name = input()
c_name = input()

print(name , " Are your Looking for " , c_name , " ? ")

In [ ]:
print("Welcome to EduTECH")

name = input("What is Your Name : ")
c_name = input("What Cousre are your Looking for : ")

print(name , " Are your Looking for " , c_name , " ? ")

In [ ]:
#Write a Program to Take user input & perfrom add on them

print("Enter Two Number for Add")

a = input("Enter 1st Number :")#10 String
b = input("Enter 2nd Number :")#15 String

print("Add of Two Number is : ", a+b)#1015 (10 + 15 = 1015)

In [ ]:
#TypeCasting :--> Converting one Data type into another Data Type : int()/float()/str()/list()/tuple()

#Write a Program to Take user input & perfrom add on them

print("Enter Two Number for Add")

a = int(input("Enter 1st Number :"))
b = int(input("Enter 2nd Number :"))

print("Add of Two Number is : ", a+b)#25

In [ ]:
name = "EduTECH"
NAME = " Warje"

print(name + NAME)#Concatination

In [ ]:
#Write a Program to take input from user for subject : math/bio/chem/phys (out of 30)
#print student total marks & avg 


"""
Step 1: take input from user for Subject mark

Step 2: Perform add

Step 3 :  Calculate Avg

Step 4 : Print Ans



"""

#Step 1: take input from user for Subject mark

name = input("Enter Student Name :")

math = int(input("Enter your math mark:"))
bio = int(input("Enter your bio mark:"))
chem = int(input("Enter your chem mark:"))
phys = int(input("Enter your physics mark:"))

#Step 2: Perform add
marks = math + bio + chem + phys

#Step 3 :  Calculate Avg
avg = marks / 4

#Step 4 : Print Ans

print(name , " You have got sum of all Marks " , marks  ," avg marks are : " , avg)

In [ ]:
#Write a Program to Accept User Name & Password .... Print both value with Proper formating

username = input("Enter username:")
password = input("Enter password:")

print("Username is:",username,"Password is:",password)
Enter username:Vishal96
Enter password:12345
Username is: Vishal96 Password is: 12345
        
        
#1.Write a program to do addition : take input from the user : No of Input 3
#Without Function

num1 = int(input("Enter 1st number:"))
num2 = int(input("Enter 2nd number:"))
num3 = int(input("Enter 3rd number:"))

print("Addition is:",num1+num2+num3)
Enter 1st number:12
Enter 2nd number:15
Enter 3rd number:60
Addition is: 87
    
#With Function
"""
def add(num1,num2,num3):
    print("Addition is:",num1+num2+num3)


"""


def add(a,b,c):
    return a+b+c
print('Add of 20,15,60 is : ' , add(20,15,60))
Add of 20,15,60 is :  95
    
#2.Write a program to calculate area of Rectangle : Take input from User
#Without function

length = int(input("Enter length:"))
width = int(input("Enter width:"))

Area = length*width

print("Area of rectangle is:",Area)

Enter length:25
Enter width:12
Area of rectangle is: 300
    
#With Function
def Area(length,width):
    print("Area of rectangle is:",length*width)


Area(25,12)
Area of rectangle is: 300
    
#3.Write a program to print wether enter number is odd or even : take input from user
#odd : 1,3,5,7,9
#even : 2,4,6,8

num = int(input("Enter Number :"))

print("Enter Number is Even ? " , num%2 ==0)  


Enter Number :5
Enter Number is Even ?  False

#4.Write a Program to check whether enter number is postive or negative
num1 = int(input("Enter Number "))

print("Enter Number is Positive ?" , num1>0)
Enter Number -15
Enter Number is Positive ? False
5.Write a program to convert kilometer to miles
#Without Function

kilometer = float(input("Enter Kilometer :"))

miles = kilometer * 0.621371

print(kilometer ," km" , 'to ', miles , "Miles")
Enter Kilometer :14
14.0  km to  8.699194 Miles
#With Function
def miles(kilometer):
    miles = kilometer * 0.621371

    print(kilometer ," km" , 'to ', miles , "Miles")
    
miles(14)
14  km to  8.699194 Miles

#6.Write a program to Convert celsius into fehernheit

celsius = float(input("Enter celsius:"))

fahrenheit = ((celsius*1.8)+32)

print("Result is:",fahrenheit)
Enter celsius:32
Result is: 89.6