In [ ]:
"""

Data Types :

String/List/Tuple/Set/Dict

String :-->

1.Creating 
2.Accessing 
3.Adding Char
4.Editing String
5.Deleting String
-----------------------------------------------------------
6.Operators on String
-----------------------------------------------------------
7.String Function

Common Function :  min/max/len/sorted

capitalize/title/upper/lower/swapcase/count/find/index

endswith & startswith

Format : 4 option

Split


"""

# 1.Creating

In [2]:
s1 = 'Vishal Dhayagude'
s2 = "EduTECH Warje"
s3 = """Data Analysis"""

print(s1,s2,s2 , sep = '\n')

Vishal Dhayagude
EduTECH Warje
EduTECH Warje

# 2.Accessing

In [11]:

"""
String is a Collection of Char

name = "v  i  s  h  a  l"
Index   0  1  2  3  4  5 
       -6 -5 -4 -3 -2 -1


"""

name = "Vishal"


#Postive Indexing

print("At index 3 Char is : " , name[3])
print("At index 1 Char is : " , name[1])

print()

#Negative Indexing
print("At index -4 Char is : " , name[-4])
print("At index -6 Char is : " , name[-6])

msg = "Welcome to EduTECH World of EduCATION"

print("t value : " , msg[8])

At index 3 Char is :  h
At index 1 Char is :  i

At index -4 Char is :  s
At index -6 Char is :  V
t value :  t

In [19]:
#slicing

msg = "Welcome to EduTECH World of EduCATION "

print(msg[0:7])
print(msg[-10:-1])

Welcome
EduCATION

In [21]:
info = "We are Starting With Data Analysis"

print(info[7:15])

Starting Wit

# 3.Adding Char/4.Editing String/5.Deleting String

In [22]:
name = "Vishal"

name[0] = "B" #str' object does not support item assignment

#String & Tuple is a Immutable Data Type we cannot add/edit/del specific char

TypeError: 'str' object does not support item assignment

In [23]:
msg = "Hello Student"

del(msg[0])

TypeError: 'str' object doesn't support item deletion

In [24]:
msg = "Hello Student"

del(msg)

print(msg)

NameError: name 'msg' is not defined

In [25]:
name = "Vishal"

print("Before Reassigmnet : " , name)

name = "Bishal"

print("After Reassigmnet : " , name)

Before Reassigmnet :  Vishal
After Reassigmnet :  Bishal

# 6.Operators on String

In [31]:
#Arithmatic : + & *

msg1 = "Data "
msg2 = " Analaysis"

print(msg1+msg2)
print(msg1*3)

#print(msg1-msg2) #unsupported operand type(s) for -: 'str' and 'str'
#print(msg1/msg2) #unsupported operand type(s) for /: 'str' and 'str'

Data  Analaysis
Data Data Data

In [35]:
#Relational : <,>,<=,>=,==,!=

city1 = "pune"
city2 = "mumbai"

print(city1>city2)

True

In [39]:
ID = "edutech"
pwd = "1234"

user_id = input("Enter Your ID ")
user_pwd = input("Enter Password")


print(user_id == ID and user_pwd == pwd)

Enter Your ID edutech
Enter Password124649
False

In [42]:
#Membesrhip Operator: in or Not in

info = "We are Starting With Data Analysis"

print("s" in info)
print("Data" in info)
print("Data" not in info)

True
True
False

In [44]:
name = "eudtech"
name1 = "eudtech"

print(name is name1)
print(id(name))
print(id(name1))

True
1968749740720
1968749740720

# 7.String Function

Common Function :  min/max/len/sorted

capitalize/title/upper/lower/swapcase/count/find/index

endswith & startswith

Format : 4 option

Split


"""

Common Function : min/max/len/sorted

In [10]:
msg = "Started with String Functions in Python"

s2 = "EduTECH"

print("Max Value : " , max(msg))
print("Min Value : " , min(s2))
print("Number of Char : " , len(msg))
print(sorted(s2) )

Max Value :  y
Min Value :  C
Number of Char :  39
['C', 'E', 'E', 'H', 'T', 'd', 'u']

# capitalize/title/upper/lower/swapcase/count/find/index

In [16]:
user_name = input("Enter Your Name")

print("This is Using capitalize function : " , user_name.capitalize())

print("This is Using title function : " , user_name.title())

print("This is Using Upper case function : " , user_name.upper())

print("This is Using Lower case function : " , user_name.lower())

print("This is Using Swap case function : " , user_name.swapcase())

Enter Your NameVisHal DhAyAgude
This is Using capitalize function :  Vishal dhayagude
This is Using title function :  Vishal Dhayagude
This is Using Upper case function :  VISHAL DHAYAGUDE
This is Using Lower case function :  vishal dhayagude
This is Using Swap case function :  vIShAL dHaYaGUDE

In [22]:
#count :--> case senstive

msg = "Started with String Functions in Python"

print("Python in msg : " , msg.count('Python'))

Python in msg :  1

In [25]:
#find/index

msg = "Started with String Functions in Python"

print("Index Number of t in Msg using find function : " , msg.find('a'))
print("Index Number of t in Msg using Index function : " , msg.index('a'))

Index Number of t in Msg using find function :  2
Index Number of t in Msg using Index function :  2

In [27]:
print("Index Number of t in Msg using find function : " , msg.find('x'))
print("Index Number of t in Msg using Index function : " , msg.index('x'))#ValueError: substring not found

Index Number of t in Msg using find function :  -1

ValueError: substring not found

In [32]:
#Format : 4 option

#1st option
"Hello {} what you want to learn ?  are you looking for {}".format("Vishal" , "Data Science")

#2nd option
"Hello {0} what you want to learn ?  are you looking for {1}".format("Vishal" , "Data Science")


#3rd option
"Hello {n} what you want to learn ?  are you looking for {c3}".format(n = "Vishal" , c1= "Data Science",c2="SAP",c3="Analysis")

'Hello Vishal what you want to learn ?  are you looking for Analysis'

In [34]:
#4th Option
name = input("Enter Your Name ")
c_name = input("Enter Your Course name")


print(f"Welcome to EduTECH {name} are you looking for {c_name} ?" )

Enter Your Name Vishal
Enter Your Course nameSAP MM
Welcome to EduTECH Vishal are you looking for SAP MM ?

In [38]:
#endswith & startswith

user_id = input("Enter Your ID :")

print("User ID : " , user_id)
print(user_id.endswith("@gmail.com"))
print(user_id.startswith("Vishal"))

Enter Your ID :Vishal@gmail.com
User ID :  Vishal@gmail.com
True
True

In [43]:
#split

s1 = "EduTECH warje We are looking for "

s1.split('We')

['EduTECH warje ', ' are looking for ']